.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  width: 300px;
  /* background-color: rebeccapurple; */
  /* border: 1px solid black; */
  box-shadow: 0px 1px 10px rgb(187, 187, 187);
  transform: scale(1, 1);
  transition: 0.3s all;
}

h6 {
  color: rgb(136, 136, 136);
}

.card-container:hover {
  transform: scale(1.1, 1.1);
}
